<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: lightseagreen;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
</head>
<body>

    <div class="topnav">
        <a  href="http://127.0.0.1:8000/home/">Home</a>
        <a class="active" href="http://127.0.0.1:8000/about/">About Us</a>
        <a href="#package">Package</a>
        <div class="topnav-right">
          <a  href="http://127.0.0.1:8000/team/">Team</a>
      
          <a href="#contactus">Contact</a>
        </div>
      </div>
      <center><h1 style=color:lightseagreen>ABOUT US</h1></center>
      <center><img src="https://cdn.pixabay.com/photo/2019/08/05/15/18/people-4386248_960_720.png" alt="Avatar" style="width:40%;"></center>
      <br><br>
      <em><p style="margin-left: 280px; margin-right: 280px;"> We are the publication house, you are looking for. We have highly experienced team of 40 people. We have published over 400 books. Our 80 books were in best-selling list. Our 120 books got Oxford-Listing. </p></em>